@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .nav-right {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #949494;
}

.content {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.offer-card {
  margin: 0;
  border: 0.5px solid #c6c6c6;
  border-radius: 5px;
  max-width: 100%;
}

.offer-address {
  color: #949494;
  font-weight: normal;
}

.offer-address path {
  color: #949494;
}

.offer-infos {
  color: #c6c6c6;
  font-weight: normal;
}

.offer-infos path {
  color: #c6c6c6;
}

.offer-price {
  color: #E13737;
  font-weight: bolder;
}

.offer-price .charges {
  font-weight: normal;
  color: #949494;
  font-size: x-large;
}

.offer-details {
  padding: 10px 16px;

}

.offer-card:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.offer-card h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.offer-card a {
  text-decoration: none;
}

.blog-details div {
  margin: 20px 0;
}

.button {
  background: #E13737;
  color: #fff;
  border: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  font-weight: bold;
}

.button-disabled {
  background: #eaeaea;
  color: #fff;
  border: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: not-allowed;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  font-weight: bold;
}

.button path,
.button-disabled path {
  color: #fff;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.logo {
  max-width: 128px;
}

.title-second {
  font-weight: lighter;
  color: #949494;
  font-size: 32px;
}

.title {
  font-weight: normal;
  font-size: 48px;

}

.home {
  padding-left: 20px;
  padding-right: 20px;
}

.home-picture {
  display: inline-block;
}

.offers {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Three equal-width columns */
  gap: 50px;
  /* Adjust the gap between columns as needed */
}

hr {
  border: 0.5px solid #f2f2f2;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 0.5px solid #c6c6c6;
  border-radius: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #949494;
}

.search-form {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Three equal-width columns */
  gap: 10px;
  /* Adjust the gap between columns as needed */
}

.search-form label {
  font-weight: bold;
  color: #949494;
}

.offer-picture {
  max-width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.offer p {
  margin-top: 15px;
  line-height: 1.5;
}

.login-form,
.register-form {
  margin-top: 20px;
}

.form-title {
  text-align: center;
  font-weight: lighter;
  color: #949494;
}

.fields-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Three equal-width columns */
  gap: 10px;
  /* Adjust the gap between columns as needed */
}

.form-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.offer-detail-picture {
  width: 100%;
  border-radius: 5px;
}

.contact-info {
  border: 0.5px solid #c6c6c6;
  border-radius: 5px;
  padding: 20px;
}

.contact-info h3,
.contact-info h3 path {
  color: #949494;
  font-weight: normal;
}

.mt-16 {
  margin-top: 16px;
}

.mt-32 {
  margin-top: 32px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

.ml-16 {
  margin-left: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.hidden {
  display: none;
}

.offer-text {
  text-align: justify;
}

.offer-card .offer-price {
  font-size: x-large;
}

.offer-card .offer-price .charges {
  font-size: medium;
}

.banner {
  border: 1px solid red;
  background-color: lightcoral;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.input-error {
  border: 0.5px solid #E13737;
  color: #E13737;
}